*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter;'
}
body{
    background-color: #fff1e5;
}
main{
    border: 2px solid black;
    width: 60%;
    margin: 0 auto;
    position: relative;
    height: 1820px;
    width: 1608px;
}

span{
    color: #ed4d1b;
}

a{
    text-decoration: none;
    color: #000;
}

button,
input[type="submit"]{
    background-color:#ed4d1b;
    font-weight: bold;
    box-shadow: 3px 3px 0 0;
}

/* NAV BAR */
.nav-bar{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    margin-top: 15px;
}
ul{
    display: flex;
}
ul li{
    padding: 15px;
    list-style: none;
    font-size: 25px;
}

#logo{
    font-size:45px;
    font-weight: bold;
    margin-left: -65px;
    margin-right: 30px;
}

.btn-inscreva button{
    width: 250px;
    height: 45px;
    margin-right: -105px;
}

.conhecer{
    display:block;
    text-align: center;
}
.varios{
    font-size: 70px;
    padding-bottom: 75px;
}

/* .conhecer button{
    width: 200px;
    height: 35px;
    font-size: 15px;
} */
/* SECTION - INICIO */

.inicio{
    display: flex;

    height: 686px;
    width: 1766px;
    margin-left: 60px;
    margin-top: 100px;
}

.btn-comeceagora{
    margin-top: 20px;
}
.btn-comeceagora button,
.btn-conhecer button,
.conhecer button,
input[type="submit"]{
    width: 250px;
    height: 45px;
    font-size: 20px;
}


.inicio h1{
    padding: 10px;
    font-size: 100px;
}

#texto{
    height: 50px;
    width: 40%;
    font-size:20px;
}

#texto p{
    margin-right: 150px;
    margin-left: 15px;
}


.segundo{
    height: 700px;
    margin-bottom: 50px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-right: 20px;
}

/* SECTION CARD-MUSICA */
.cards-musica{
    display:flex;
    position: relative;
    padding: 10px;
    margin-right: 25px;
}
.cards-musica p{
    padding: 10px;

}
.cards-musica img{
    padding: 10px;
}
.cards-musica h3{
    padding: 10px;
    font-size: 20px;
}

.piano{
    background-color:#ed4d1b;
    padding: 30px;
    margin-left: 50px;
    top: -60px;
    position: relative;
    box-shadow: 5px 5px 0 0;
}
.sax{
    background-color:#ed4d1b;
    padding: 30px;
    margin-left: 50px;
    top: -60px;
    position: relative;
    box-shadow: 5px 5px 0 0;
}
.bateria{
    background-color:#ff9a3c;
    padding: 30px;
    margin-left: 50px;
    top: -55px;
    position: relative;
    box-shadow: 5px 5px 0 0;
}
.teoria-mus{
    background-color:#ff9a3c;
    padding: 30px;
    margin-left: 50px;
    top: -55px;
    position: relative;
    box-shadow: 5px 5px 0 0;
}

.seta{
    display: flex;
    text-align: end;
    justify-content: end;
    
}

/* SECTION EMAIL */
.email{
    display: flex;
    justify-content: space-around;
}

.items-email ul{
    display: block;
    text-align: center;
    margin-top: -25px;
}

.items-email li{
    font-size: 22px;
}

#email{
    width: 450px;
    height: 35px;
    box-shadow: 5px 5px 0px 0px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#footer-tom{
    width: 350px;
}

#footer-tom img{
    margin-bottom: 15px;
}

@media screen and (max-width:576px) {
    main{
        width: 750px;
        margin: 0 100px 0 100px;
        position: relative;
        height: 4500px;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
    }
    .inicio{
        display: block;
        height: 1100px;
    }

    .inicio img{
        height: 470px;
        display: block;
        top: -205px;
        position: relative;
    }
    #texto{
        display: block;
        margin-top: 200px;
        position: relative;
        bottom: -400px;
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        align-items: center;
        height: 200px;
    }
    /* #logo{
        display: flex;
        flex: 1 1 auto;
    } */

    .nav-bar{
        display: flex;
        flex-direction: 
    }

    .segundo{
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
    .cards-musica{
        width: 400px;
        padding: 20px;
        margin-bottom: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cards-musica p{
        font-size: 20px;
    }

    .cards-musica h3{
        font-size: 30px;
    }
    .segundo{
        height: 1800px;
    }
    .segundo button{
        position: relative;
        top: -50px;
    }
    .nav-bar li{
        flex-direction: column;
        flex: 1rem 1rem;
    }

    #image{
        width: 100%;
    }

    .email{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items:flex-start;
        padding: 10px;
        font-size:30px;
        margin-left: 40px;
    }
    
    #footer-tom{
        padding-bottom: 30px;
    }

    #footer-tom img{
        width: 250px;
    }

    .items-email li{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
        justify-content: left;        
    }

    .footer-email #email{
        width: 500px;
        height: 60px;
    }

    .footer-email input[type="submit"]{
        width: 350px;
        height: 65px;
        font-size: 30px;
    }

    .piano{
        margin-left: 250px;
        width: 350px;
       height: 350px;
       margin-bottom: 20px;
       left: -20px;
    }
    .sax{
        margin-left: 250px;
        width: 350px;
       height: 350px;
       margin-bottom: 20px;
       left: -20px;
    }
    .bateria{
      margin-left: 250px;
      width: 350px;
       height: 350px;
       margin-bottom: 20px;
       right: -20px;
    }
    .teoria-mus{
       margin-left: 250px;
       width: 350px;
       height: 350px;
       margin-bottom: 20px;
       right: -20px;
    }
    .nav-bar input button{
        margin-right: 50px;
    }
